<%# app/views/htmxposts/index.html.erb %>
<div id="zz"></div>
<h1>HtmxPosts</h1>

<div id="posts">
  <%= render @htmxposts %>
</div>

<div id="new-post-form">
  <%= link_to "New Post", new_htmxpost_path, data: { hx_get: new_htmxpost_path, hx_target: '#new-post-form', hx_swap: 'innerHTML' } %>
</div>
